/* index.css */
@import url("https://fonts.googleapis.com/css?family=Rubik");

* {
	box-sizing: border-box;
}

body,
html {
	background: #003863;
}

#app {
	height: 100%;
	width: 100%;
	font-family: "Rubik", sans-serif;
	font-color: white;
}
